#gallery {
  display: flex;
  justify-content: space-between;

  margin: 20px 0;
  padding: 0;

  list-style: none;
}

#gallery img {
  width: 600px;
  height: 400px;
}

.menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu__item::marker {
  font-size: 30px;
}

.menu__link {
  font-size: 30px;
  color: black;
  text-decoration: none;
  transition: color 100ms linear;
}

.menu__link:hover {
  color: red;
}

#counter {
  margin-top: 20px;
  margin-left: 20px;
}

#name-input {
  display: block;

  margin-top: 20px;
}

#validation-input {
  display: block;

  margin-top: 20px;

  border: 3px solid #bdbdbd;
  outline: none;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
